<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>People</title>

        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/site.css"/>
    </head>

    <div class="container">
        <div class="page-header">
            <h1 style="text-align: center;">People Database</h1>
            <h3>Select an option</h3>
        </div>
        <a href="/people" class="btn btn-default">People</a>
        <a href="/relationship" class="btn btn-default">Relationship</a>
    </div>

    <footer class="footer navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"><p class="text-muted">@Copyright 2020 Kenny Afonin</p></div>
            </div>
        </div>
    </footer>

</html>